#nyarukolive {
    color: #FFF;
    font-size: 10pt;
    line-height: auto;
}
#nyarukolive {
    padding: 0;
    margin: 0;
    background-color: #000;
}
#nyarukolive_titlebar {
    width: 100%;
    height: 60px;
}
#nyarukolive_rtoolbox1 {
    width: 140px;
}
#nyarukolive_rtoolbox {
    width: 100%;
    text-align: center;
}
#nyarukolive_rtoolbox td {
    width: 80px;
}
#nyarukolive_videobox {
    position: relative;
    width: 100%;
}
#nyarukolive_video {
    width: 100%;
    background-color: #000;
}
#nyarukolive_pausebox {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    height: calc(100% - 40px);
    user-select: none;
    cursor: pointer;
}
#nyarukolive_danmubox {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: pointer;
}
#nyarukolive_playbtn {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    left: calc(50% - 32px);
    top: 50%;
    top: calc(50% - 32px);
    padding: 0;
}
#nyarukolive_menu {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 270px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}
#nyarukolive_menu td {
    height: 50px;
    width: 50%;
}
#nyarukolive_menu select {
    width: 90px;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
}
#nyarukolive_usermenu {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 270px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}
#nyarukolive_usermenu td {
    height: 50px;
    width: 50%;
}
#nyarukolive_errorinfo {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.nyarukolive_errordig {
    color: #f8000c;
    background-color: #feeff0;
    border: 1px solid #fdd5d5;
}
.nyarukolive_warndig {
    color: #5c3f12;
    background-color: #fffbe6;
    border: 1px solid #fff5c4;
}
#nyarukolive_footbar {
    width: 100%;
    background-color: #000;
}
#nyarukolive_footbar td {
    margin: 0;
    padding: 0;
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
    height: 30px;
}
.nyarukolive_danmuinbox {
    background-color: #000;
    color: gray;
    border: none;
}
.nyarukolive_danmuinbox:focus {
    background-color: #FFF;
    color: #000;
    border-bottom: 1px solid skyblue;
}
.nyarukolive_footbariconbtn {
    width: 20px !important;
    height: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.w100 {
    width: 100%;
}
#nyarukolive_stopalert {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 320px;
    color: #FFF;
}
#nyarukolive_stopalert h1 {
    font-size: 16pt;
    color: #FFF;
}
#nyarukolive_stopalert h2 {
    font-size: 12pt;
    color: lightgray;
}
#nyarukolive_stopalertimg {
    width: 100%;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
    pointer-events: none;
    user-select: none;
}